body{
background:#0000A0;
color:silver;
}
.Active{
margin:0;
}
.hub{
color:silver;
background:#151B54;
border-radius:3px;
}
.Hubjpg{
width:100px;
height:100px;
border-radius:20px;
}
.logo{
text-align:center;
}
h1{
text-align:center;
}
h3{
color:silver;
position:relative;
top:30px;
text-align:center;
}
.Instagramjpg{
width:25px;
height:25px;
border-radius:5px;
position:relative;
top:60px;
left:40px;
}
.divlogin{
background-color:#151B54;
width:300px;
height:50px;
margin:auto;
border-radius:5px;
text-align:center;
}
.Login{
text-decoration:none;
color:silver;
position:relative;
top:-17px;
left:15px;
}
.Loginn{
text-decoration:none;
color:silver;
position:relative;
top:15px;
font-family:sans-serif,
}

